.App {
  text-align: center;
}
.header{
  background-color: aquamarine;
  height: 50px;
  margin: auto;
  padding: 25px;
}
.add{
  background-color: chartreuse;
  box-shadow: black 3px 3px 2px 0px;
}
.begone{
  background-color: crimson;
  box-shadow: black 3px 3px 2px 0px;
  /* margin-right: 50%; */
}
.all-of-it{
  background-color: darkcyan;
  box-shadow: black 3px 3px 2px 0px;
}
.plastic-surgery{
  background-color: goldenrod;
  box-shadow: black 3px 3px 2px 0px;
}
.stats{
  border: black solid 2px;
  width: 50%;
  /* height: 100vh; */
  margin-left: 50%;
  background-color: lightgray;
  box-shadow: black 3px 3px 2px 0px;
}
.namie{
  /* border: black solid 2px; */
  margin-right: 50%;
}
.move-it{
  margin-right: 50%;
}
.add-trail{
  background-color: chartreuse;
  box-shadow: black 3px 3px 2px 0px;
}
/* .notes{
  display: flex;
  flex-wrap: wrap;
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
